<!--<div class="row align-items-center justify-content-center">-->

<div *ngIf="loadingSpinner">
  <app-spinner overlay="true" [color]="'accent'">
  </app-spinner>
</div>
<div class="row align-items-center justify-content-center">
  <!--    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
  <!--      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
  <!--    </button>-->
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="specialityForm">
      <form [formGroup]="specialityForm">
        <ng-template matStepLabel>{{specialityMessage}}</ng-template>
        <!--          <mat-form-field>-->
        <!--            <mat-label>Name</mat-label>-->
        <!--            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
        <!--          </mat-form-field>-->
        <mat-action-list>
          <button mat-list-item matStepperNext (click)="setSpeciality(speciality, stepper)" *ngFor="let speciality of specialities">{{speciality}}</button>
        </mat-action-list>
        <!--          <div>-->
        <!--            <button mat-button matStepperNext>Next</button>-->
        <!--          </div>-->
      </form>
    </mat-step>
    <mat-step [stepControl]="professionalForm">
      <form [formGroup]="professionalForm">
        <ng-template matStepLabel>{{professionalMessage}}</ng-template>
        <mat-action-list>
          <button mat-list-item matStepperNext (click)="setProfessional(pro, stepper)" *ngFor="let pro of professionals | async">{{pro.name + ' ' + pro.lastname}}</button>
        </mat-action-list>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateForm">
      <form [formGroup]="dateForm">
        <ng-template matStepLabel>{{dateForm.value.appointmentDate ? dateForm.value.appointmentDate.toISOString().split('T')[0] : 'Select appointment date'}}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput (dateInput)="setDate($event, stepper)" [matDatepicker]="datePicker" [matDatepickerFilter]="myFilter" formGroupName="appointmentDate">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="hourForm">
      <form [formGroup]="hourForm">
        <ng-template matStepLabel>{{hourForm.value.appointmentHour ? hourForm.value.appointmentHour : 'Select appointment hour'}}</ng-template>
        <mat-action-list>
          <button mat-list-item matStepperNext (click)="setHour(hour, stepper)" *ngFor="let hour of hours">{{hour}}</button>
        </mat-action-list>
      </form>
    </mat-step>
    <mat-step [stepControl]="patientForm">
      <form [formGroup]="patientForm">
        <ng-template matStepLabel>{{patientName || "Select patient's email"}}</ng-template>
        <mat-form-field>
          <input type="text"
                 placeholder="email"
                 aria-label="Number"
                 matInput
                 formControlName="email"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="nextStep(stepper)">
            <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.email">
              {{patient.email}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Save appointment</ng-template>
      <div class="d-flex flex-row-reverse">
<!--      <div class="p-2">-->
<!--        <button type="button" class="btn btn-sm btn-outline-primary" (click)="stepper.reset()">Reset</button>-->
<!--      </div>-->
      <div class="p-2">
        <button type="button" class="btn btn-sm btn-warning" matStepperPrevious>Back</button>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-sm btn-primary" (click)="saveAppointment()">Save</button>
      </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>

