<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" i18n="@@clinic">Clinic</a>
  <button (click)="closeNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngFor="let menu of menus | role:getRole()">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/'+menu.link]">{{menu.menu}}<span class="sr-only">(current)</span></a>
        </li>
      </div>
<!--      <li class="nav-item" [routerLinkActive]="['active']">-->
<!--        <a class="nav-link" [routerLink]="['/appointments']">Turnos</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <div ngbDropdown class="d-inline-block">-->
<!--          <a class="nav-link" id="menuDropdown" ngbDropdownToggle>Dropdown</a>-->
<!--          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="menuDropdown">-->
<!--            <a class="dropdown-item" [routerLink]="['/genericTable']">Generic table</a>-->
<!--            <a class="dropdown-item" [routerLink]="['/altaActor']">Alta Actor</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="!loggedIn">
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="openLogin()" type="button">Login</button>
      </div>
      <div *ngIf="loggedIn">
        <button class="btn btn-primary my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
      </div>

    </form>
  </div>
</nav>
