<div class="modal-header">
  <h4 class="modal-title" i18n="Modal Header | title">Create User </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="name" i18n="form name">Name:</label>
      <input id="name" formControlName="name" class="form-control" placeholder="Name" i18n="form name placeholder">
    </div>
    <div class="form-group">
      <label for="lastname" i18n="form lastname">Lastname:</label>
      <input id="lastname" formControlName="lastname" class="form-control" placeholder="Lastname" i18n="form lastname placeholder">
    </div>
    <div class="form-group">
      <label for="email" i18n="form email">Email:</label>
      <input id="email" formControlName="email" class="form-control" placeholder="Email" i18n="form email placeholder" type="email">
    </div>
    <div class="form-group">
      <label for="password" i18n="form password">Password:</label>
      <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password" i18n="form password placeholder">
    </div>
    <label for="profile">Profile</label>
    <select class="form-control" formControlName="profile" id="profile" name="profile">
<!--      <div *ngFor="let option in options">-->
<!--        <option (click)="setProfile(options[0])">{{options[0]}}</option>-->
<!--        <option (click)="setProfile(options[1])">{{options[1]}}</option>-->
<!--        <option (click)="setProfile(options[2])">{{options[2]}}</option>-->
      <option *ngFor="let option of options" [value]="option"
      >{{option}}</option
      >
<!--      <option *ngFor="let option in options" [ngValue]="profile">{{option}}</option>-->
<!--      </div>-->
    </select>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
    <br>
    <div class="form-group" *ngIf="this.userForm.value.profile.toLowerCase() === 'medic'">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Specialization selection">
          <mat-chip
            *ngFor="let speciality of chipSpecializations"
            selectable
            removable
            (removed)="remove(speciality)">
            {{capitalize(speciality)}}
            <mat-icon matChipRemove >cancel</mat-icon>
          </mat-chip>
          <input
            matInput
            #specialityInput
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [formControl]="specializationForm"
            [matAutocomplete]="auto"
            placeholder="Select Specialization"
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addSpecialization($event)"
          >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSpeciality($event)">
          <mat-option *ngFor="let speciality of filteredSpecializations | async" [value]="speciality">
            {{speciality}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="this.userForm.value.profile.toLowerCase() === 'patient'">
      <div class="custom-file">
        <input type="file" accept="image/*" class="custom-file-input" id="firstImage" formControlName="firstImage" (change)="onFileChange($event, 'firstImage')">
        <label class="custom-file-label" for="firstImage">{{firstImage.name || 'First profile picture'}}</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <br>
      <div class="custom-file">
        <input type="file" accept="image/*" class="custom-file-input" id="secondImage" formControlName="secondImage" (change)="onFileChange($event, 'secondImage')">
        <label class="custom-file-label" for="secondImage">{{secondImage.name || 'Second profile picture'}}</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
    </div>

  </form>
  <div id="submit-user-creation">

  </div>
</div>
<div class="modal-footer">

<!--  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>-->
  <button type="button" class="btn btn-primary" [disabled]="disableSubmit" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

</div>

