<div class="modal-header">
  <h4 class="modal-title" i18n="Modal Header | title">Create User </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="name" i18n="form name">Name:</label>
      <input id="name" formControlName="name" class="form-control" placeholder="Name" i18n="form name placeholder">
    </div>
    <div class="form-group">
      <label for="lastname" i18n="form lastname">Lastname:</label>
      <input id="lastname" formControlName="lastname" class="form-control" placeholder="Lastname" i18n="form lastname placeholder">
    </div>
    <div class="form-group">
      <label for="email" i18n="form email">Email:</label>
      <input id="email" formControlName="email" class="form-control" placeholder="Email" i18n="form email placeholder" type="email">
    </div>
    <div class="form-group">
      <label for="password" i18n="form password">Password:</label>
      <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password" i18n="form password placeholder">
    </div>
    <label for="profile">Profile</label>
    <select class="form-control" formControlName="profile" id="profile" name="profile">
<!--      <div *ngFor="let option in options">-->
<!--        <option (click)="setProfile(options[0])">{{options[0]}}</option>-->
<!--        <option (click)="setProfile(options[1])">{{options[1]}}</option>-->
<!--        <option (click)="setProfile(options[2])">{{options[2]}}</option>-->
      <option *ngFor="let option of options" [value]="option"
      >{{option}}</option
      >
<!--      <option *ngFor="let option in options" [ngValue]="profile">{{option}}</option>-->
<!--      </div>-->
    </select>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
    <br>
    <div class="form-group" *ngIf="this.userForm.value.profile === 'professional'">
      <label for="specializations" i18n="form specialties">Specializations</label>
      <input id="specializations" class="form-control" placeholder="Write specialities separated by comma" i18n="form specialties placeholder" formControlName="specializations" >
    </div>
    <div class="form-group" *ngIf="this.userForm.value.profile === 'patient'">
      <div class="custom-file">
        <input type="file" accept="image/*" class="custom-file-input" id="firstImage" formControlName="firstImage" (change)="onFileChange($event, 'firstImage')">
        <label class="custom-file-label" for="firstImage">{{firstImage.name || 'First profile picture'}}</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <br>
      <div class="custom-file">
        <input type="file" accept="image/*" class="custom-file-input" id="secondImage" formControlName="secondImage" (change)="onFileChange($event, 'secondImage')">
        <label class="custom-file-label" for="secondImage">{{secondImage.name || 'Second profile picture'}}</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
<!--  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>-->
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" id="submit-user-creation" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

</div>
