
<div class="modal-header">
  <h4 class="modal-title" i18n="Modal Header | title review">{{'Comment for medic with '+ email}}  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form  [formGroup]="questionsForms">
  <div *ngFor="let question of questions,index as i">
    <div class="form-group">
      <label [for]="'question_'+i">{{question}}</label>
      <input [id]="'question_'+i" [formControlName]="'question_'+i" class="form-control" i18n="form question_{{i}} placeholder">
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveAnswers()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

