
<div class="modal-header">
  <h4 class="modal-title" i18n="Modal Header | title review">{{'Comment from '+ appointment.email}}  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let questionAndAnswer of appointment.questionsAndAnswers,index as i">
    <p class="h3" >{{questionAndAnswer.question}}</p>
    <br>
    <p>{{questionAndAnswer.answer}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

